.section-display {
    display: flex;
    margin-bottom: 24rem;

    flex-direction: column;

    @media screen and (min-width: 768px) {
        &.right-text-content {
            flex-direction: row-reverse;

            .illustration {
                padding-right: 5rem;
            }
        }

        &.left-text-content {
            flex-direction: row;

            .illustration {
                padding-left: 5rem;
            }
        }
    }

    .text-content {
        flex: 1;

        .title {
            font-size: 30px;

            @media screen and (min-width: 768px) {
                font-size: 42px;
            }

            @media screen and (min-width: 1440px) {
                font-size: 70px;
            }

            line-height: 1.1;
            font-weight: 700;
        }

        .paragraph {
            font-size: 15px;

            @media screen and (min-width: 768px) {
                font-size: 20px;
                line-height: 26px;
            }

            @media screen and (min-width: 1440px) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .illustration {
        flex: 1;

        margin-top: 50px;

        img {
            max-width: 100%;
            display: block;
            margin: auto;
        }
    }
}

.competences-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 45px;

    i {
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            color: $secondary;
            transform: scale(1.2);
        }
    }
}

.stack-technique-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 45px;

    i {
        transition: all 0.3s ease;

        &:hover {
            cursor: pointer;
            color: $secondary;
            transform: scale(1.2);
        }
    }
}

.list-blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);

    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1920px) {
        grid-template-columns: repeat(4, 1fr);

    }

    gap: 32px;
    margin-top: 60px;

    .blog {
        box-shadow: 1px 0 20px $white;
        border-radius: 5px;
        padding: 15px;
        position: relative;

        h4,
        p {
            z-index: 6;
            background-color: transparent;
        }

        &:hover {
            cursor: pointer;

            .link-blog {
                width: 100%;
                height: 100%;
                padding: 0;
                border-radius: 5px;
            }
        }

        .link-blog {
            @include link-as-text;

            width: 15px;
            height: 20px;

            text-align: right;
            display: block;
            background-color: $primary;
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 10px 15px 15px;
            border-bottom-left-radius: 100%;

            transition: all ease-out 0.45s;
            z-index: 5;
        }
    }
}

#loader {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 100%;
    height: 100%;
    background-color: $dark;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: loader-hide 1.5s forwards;

    .loader {
        border: 16px solid $white;
        border-top: 16px solid $test;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite;
    }
}

.competences-bars {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .competence-bar {
        .competence-bar-bar {
            background-color: $white;
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: 1px solid $white;

            .competence-bar-bar-fill {
                background-color: $primary;
                height: 100%;
                border-radius: 10px;
                transition: all 1s ease;
                animation: showGrowth 1s ease infinite alternate;
            }
        }
    }
}