$primary: #642a9498;
$secondary: #aaa5ff;
$accent: #fec131;
$gray: #868e96;
$lightgray: #f3efef;
$dark: #171c28;
$white: #ffffff;
$test: #b65757;
$border-radius: 5px;
$img-size: 100px;
$img-size-divided: calc($img-size / 2);

$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'accent': $accent,
    'gray': $gray,
    'lightgray': $lightgray,
    'dark': $dark,
    'white': $white
);